.App {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #292929;
}
.container {
  border: 1px solid #fff;
  width: 60%;
  min-height: 300px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 80px;
}
button {
  padding: 2px 5px;
  background: linear-gradient(to right bottom, #4776e6, #8e54e9);
  transition: 0.5s;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

/* Media queries */

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 60%;
  }
}
